# Contents
## 1. What is value
## 2. print () function
## 3. type () function
## 4. Variable
## 5. Variable names and keywords
## 6. Statements
## 7. Operators and operands
## 8. Order of operations
## 9. String operations
## 10. Asking the user for input
## 11. Type Casting
## 12. Comments

# 1. Value

### A value is one of the basic things a program works with, like a letter or a number.
The values could be 1, 2.5, and 'Hello, World!'.

These values belong to different types: 1 is an integer, 2.5 is float and "Hello World" is a string

# 2. print() function

We can print these values using print () function

In [1]:
print (1)

1

In [2]:
print(2.5)

2.5

In [3]:
print ("hello world")

hello world

In [4]:
print ('hello world')

hello world

In [2]:
# print two or more values using single statement
print(4,5)

4 5

In [1]:
# print the name of your country
print("Pakistan")

Pakistan

In [3]:
# print your date of birth
print("04-01-2003")

04-01-2003

In [8]:
# print your name, age and height using one print statement
print("Name:Muhammad Ahmad Siddiqui\n","Age:20\n","Height:5.11")

Name:Muhammad Ahmad Siddiqui
 Age:20
 Height:5.11

# 3. type() function

If you are not sure what type a value has, the interpreter can tell you.

In [12]:
type(1)

int

In [13]:
type(2.5)

float

In [14]:
type("hello world")

str

In [10]:
# what will be the type of '5'
int
# what is type of 9.3333333333
float

In [20]:
#print the type of (), [], {} 
#type(())  tuple
#type([])   list
#type({})    dict

In [21]:
# what is output of type(range(5))
type(range(5))

range

# 4. Variable

One of the most powerful features of a programming language is the ability to
manipulate variables. 

A variable is a name that refers to a value.

Variables names are case sensitive

In [30]:
# An assignment statement creates new variables and gives them values:
name = "Ahmed"
age = 20
height = 3.5

This example makes three assignments, first assign "Ahmed" to name variable, second assign 20 to age and 3.5 to height

In [29]:
# to print the name you can use print statement
name="Ahmad"
print(name)

Ahmad

In [36]:
# print the values of age and height
age = 20
height = 5.10
print(age,height)

20 5.1

In [37]:
# print all three values using single print statement
name = "Ahmed"
age = 20
height = 3.5
print(name,age,height)

Ahmed 20 3.5

In [49]:
# What will happen if you print 1 million using following statement
#print(1,000,000)
# now search out the way to print 1 million and try it out
print("1,000,000")

1,000,000

In [38]:
# Store three integers in x,y,z and print them using single print statement.
x=5
y=6
z=7
print(x,y,z)

5 6 7

In [39]:
var1 = 121.25
# print type of var1
type(var1)

float

# 5. Variable names and keywords

Variable names can be arbitrarily long. 
They can contain both letters and numbers,but they have to begin with a letter.
The underscore character (_) can appear in a name.
Variable names can start with an underscore character, but we generally avoid using it unles
we are writing library code for others to use.

In [ ]:
#what will happen
#47name = 'Pakistan'
#name@ = 'Pakistan'
#class = 'Pakistan'
#myname = 'kamran'
#first_val = 10
#string = 'abc'

It turns out that class is one of Pythonâ€™s keywords.
The interpreter uses keywords to recognize the structure of the program, and they cannot be used as variable names.

# 6. Statements

A statement is a unit of code that the Python interpreter can execute.
We have seen two kinds of statements: print and assignment.

# 7. Operators and operands

Operators are special symbols that represent computations like addition and multiplication.
The values the operator is applied to are called operands.

In [ ]:
# The operators +, -, *, / and ** perform addition, subtraction, multiplication, division,
# exponentiation and modulus operator as in the following examples:
print (20+32, 3-1, 4*5 , 12/6,  5**2, 13%5)

In [42]:
# print 200+323-433
print(200+323-433)

90

In [44]:
# print (2+1)*(8-6)
print ((2+1)*(8-6))

6

In [45]:
# print no of bytes in 1KB using exponentiation operator
print(2**10)

1024

In [46]:
# print(2*3**3*4)
print((2*3**3*4))

216

# 8. Expressions

An expression is a combination of values, variables, and operators.

Assignement: type the following statements in the Python interpreter to see what
they do:
5
x = 5
x + 1

In [50]:
# execute the following statements and see the output
5
x = 5
x + 1

6

In [6]:
# what is output of
y = 10
x = y+=2
print(x)
#The cause of this error is the use of the `+=` operator in the same line as the assignment to `x`.

In [73]:
# Store three integers in x,y,z and print their sum and product.
x=4
y=2
z=5
sum=x+y+z
product=x*y*z
print("Sum of x,y and z is:",sum)
print("Product of x,y and z is:",product)

Sum of x,y and z is: 11
Product of x,y and z is: 40

# 9. Order of operations

When more than one operator appears in an expression, the order of evaluation
depends on the rules of precedence. 
For mathematical operators, Python follows mathematical convention. 
The acronym PEMDAS is a useful way to remember the rules:
1. Parentheses
2. Exponentiation
3. Multiplication and Division
4. Addition and Subtraction
Operators with the same precedence are evaluated from left to right.

In [69]:
# write output of the following commands without excuting it
#print (2*(3-1))          4
#print ((1+1)**(5-2))     8
#print (2**1+1)           3
#print (3*1**3)           3

# 10. String operations

In [ ]:
first = 10
second = 20
print (first + second)

In [57]:
first = '10'
second = '20'
print (first + second)

1020

In [58]:
print ("hello" * 3 )

hellohellohello

In [72]:
# print your name 10 times
print("Ahmad\n"*10)

Ahmad
Ahmad
Ahmad
Ahmad
Ahmad
Ahmad
Ahmad
Ahmad
Ahmad
Ahmad

In [ ]:
# What is output of var="James"*2*3
JamesJamesJamesJamesJamesJames

# 11. Asking the user for input

In [64]:
name = input("please enter name: ")
print (name)

please enter name: aqs
aqs

In [1]:
# wirte a program which take age from user and concate it three time
age=input("Please enter your age: ")
print(age*3)

Please enter your age: 5
555

In [2]:
# Write a program to accept two numbers from the user and calculate multiplication.
num1 = float(input("Enter a number: "))
num2 = float(input("Enter another number: "))

product = num1 * num2

print("The product of", num1, "and", num2, "is", product)

Enter a number: 3
Enter another number: 3.5
The product of 3.0 and 3.5 is 10.5

In [5]:
# modify this code so that it prints 121212 instead of 36
age=12
print(age*3)

36

# 12. Type Casting

In [6]:
a = '10'
print (a)

10

In [7]:
int(a)
str(a)

'10'

In [ ]:
# take an integer from user and multiply it with 15
num = int(input("Enter an integer: "))
result = num * 15
print("The result is:", result)

In [ ]:
num_int = 123
num_str = "456"
# Find the sum of these 2 variables
sum = num_int + int(num_str)
print("The sum is:", sum)

# 13. Comments

In [ ]:
# here is comments

# Exercise

Write a program that uses raw_input to prompt a user for their name and then welcomes them.

Enter your name: Chuck
Hello Chuck

Write a program to prompt the user for hours and rate per hour to
compute gross pay.

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

Assume that we execute the following assignment statements:
width = 17
height = 12.0

For each of the following expressions, write the value of the expression and the
type (of the value of the expression).

1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5

Use the Python interpreter to check your answers.

Write a program which prompts the user for a Celsius temperature,
convert the temperature to Fahrenheit and print out the converted temperature.

In [2]:
#Write a program that uses raw_input to prompt a user for their name and then welcomes them.
#Enter your name: Chuck
#Hello Chuck
name=input("Enter name:")
print("Hello",name)

Enter name:Ahmad
Hello Ahmad

In [1]:
#Write a program to prompt the user for hours and rate per hour to compute gross pay.
#Enter Hours: 35
#Enter Rate: 2.75
#Pay: 96.25
hours=int(input("Enter hours:"))
rate=int(input("Enter rate:"))
Pay=hours*rate
print(Pay)

Enter hours:3
Enter rate:4
12

In [21]:
#Assume that we execute the following assignment statements:
#width = 17
#height = 12.0

#For each of the following expressions, write the value of the expression and the type (of the value of the expression).

#1. width/2
#2. width/2.0
#3. height/3
#4. 1 + 2 * 5

#Use the Python interpreter to check your answers.
width = 17
height = 12.0

#print(width/2)
#type((width/2))    float

#print(width/2.0)
#type((width/2.0))  float

#print(height/3)
#type((height/3))   float

#print(1 + 2 * 5)
#type((1 + 2 * 5))   int

In [22]:
#Write a program which prompts the user for a Celsius temperature,convert the temperature to Fahrenheit and print out the converted temperature.
celsius = float(input("Enter a temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("The temperature in Fahrenheit is:", fahrenheit)

Enter a temperature in Celsius: 4
The temperature in Fahrenheit is: 39.2